@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.disabled-button {
    pointer-events: none;
    cursor: default;
    color: rgb(226 232 240);
}

.disabled-input-v2 {
    pointer-events: none;
    cursor: default;
}

.text-blue-important {
    color: rgb(37 99 235) !important;
}

.min-h-80vh {
    min-height: 80vh;
}

.min-h-85vh {
    min-height: 85vh;
}

.min-h-90vh {
    min-height: 90vh;
}

.disabled-input {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-text-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity));
}

/* Start tiptap WYSIWYG editor css */
[contenteditable="true"]:focus {
    outline: none;
}

.link-active {
    color: rgb(59 130 246) !important;
    text-decoration-line: underline !important;
    text-decoration-color: #3b82f6 !important;
    cursor: pointer !important;
}

.order-list {
    list-style-type: decimal;
    list-style-position: inside;
    padding-inline-start: 1.25rem;
}

.order-list p {
    display: inline;
}

.bullet-list {
    list-style-type: disc;
    list-style-position: inside;
    padding-inline-start: 1.25rem;
}

.bullet-list p {
    display: inline;
}

@layer components {
    /* Image zoom effect on hover */
    .image-zoom {
        overflow: hidden;
    }

    .image-zoom img {
        transition: transform 0.3s ease-out;
    }

    .image-zoom:hover img {
        transform: scale(1.1);
    }

    /* featured section style start  */
    button.filter-button.active {
        color: white;
        background: #B7C177;
    }

}

.bg-jarralax {
    background-image: url('/public/image/hero-img.png') !important;
}

.h-18 {
    height: 4.5rem;
}

p:empty::after {
    content: "\00A0";
}

/* End tiptap WYSIWYG editor css */
